<div class="suite" id="<%= suite.suite.id %>">
	<div class="suite-title fn-show-setup">
		<h1 class="suite-title-text"><%= suite.suite.name %></h1>
		<span class="suite-controls">
			<a href="#" class="fn-run-suite"><%= dictionary.runSuite %></a>
		</span>
	</div>
	<div class="suite-setup hidden">
		<% if(suite.setupFn) { %>
		<pre><code><%= hilite('// Preparation code (deprecated)\n') + hilite(fnstrip(suite.setupFn)) %></code></pre>
		<% } %>
		<% if (suite.beforeSuiteListeners.callbacks.length) { %>
		<pre><code><%=
			hilite('// Suite preparation code\n') +
			suite.beforeSuiteListeners.callbacks
				.map(function (callback) {
					return hilite(fnstrip(callback));
				})
				.join('\n') %></code></pre>
		<% } %>
		<% if (suite.beforeBenchListeners.callbacks.length) { %>
		<pre><code><%=
			hilite('// Benchmark preparation code\n') +
			suite.beforeBenchListeners.callbacks
				.map(function (callback) {
					return hilite(fnstrip(callback));
				})
				.join('\n') %></code></pre>
		<% } %>
		<% if (!(suite.setupFn || suite.beforeSuiteListeners.callbacks.length ||
					   suite.beforeBenchListeners.callbacks.length)) { %>
		<pre><code><%= hilite('// No preparation code') %></code></pre>
		<% } %>
	</div>
	<div class="fn-benchs suite-bench-list"></div>
</div>