<div class="suite" id="<%= suite.id %>">
	<div class="suite-title fn-show-setup">
		<h1 class="suite-title-text"><%= suite.suite.name %></h1>
		<span class="suite-controls">
			<a href="#" class="fn-run-suite">Run suite</a>
		</span>
	</div>
	<div class="suite-setup hidden">
		<% if(suite.setupFn) { %>
		<pre><code><%= suite.setupFn && hilite(fnstrip(suite.setupFn)) %></code></pre>
		<% } else { %>
		<pre><code>no setup code</code></pre>
		<% } %>
	</div>
	<div class="fn-benchs suite-bench-list"></div>
</div>